input.rx_ref_input, select.rx_ref_select{
	width: 20%;
	background: #fff;
	color: #000;
	font-size: 20px;
}
.share-wrapper{
	background: #CB19C9;
	display: inline-block;
	padding: 13px;
	border-radius: 15px;
}