Your spot in line
<p>You can check your spot in the Robinhood waitlist any time by clicking <a href="http://*|HTTP_HOST|*/?checkspot_code=*|ref_checkspot_code|*" target="_blank">here</a>. </p>

<p>Interested in priority access? 
Get early access by referring your friends. The more friends that join, the sooner you’ll get access. Just share this link: http://*|HTTP_HOST|*/?ref=*|ref_ref_code|* </p>

<p>Sincerely, <br/>
The Robinhood Team <br/>
*|HTTP_HOST|*</p>